@model GroupSportsWeb.ViewModels.JumpTestViewModel

@{
    ViewBag.Title = "Index";
}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<style>
    .btn-group button {
        background-color: #4CAF50; /* Green background */
        border: 1px solid green; /* Green border */
        color: white; /* White text */
        padding: 10px 24px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
    }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    .btn-group button:not(:last-child) {
        border-right: none; /* Prevent double borders */
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        background-color: #3e8e41;
    }
</style>
<h2>Index</h2>
<div class="content-page">
    <div class="btn-group" style="margin-top:30px; margin-bottom:20px; width:100%">
        <button onclick="location.href='@Url.Action("Index", "SpeedTest", new { id = Session["aID"]})';return false;" style="width:16.6%">Rapidez</button>
        <button onclick="location.href='@Url.Action("Index", "JumpTest", new { id = Session["aID"]})';return false;" style="width:16.6%">Salto</button>
        <button onclick="location.href='@Url.Action("Index", "StrengthTest", new { id = Session["aID"]})';return false;" style="width:16.6%">Fuerza</button>
        <button onclick="location.href='@Url.Action("Index", "WeightTestBySession", new { id = Session["aID"]})';return false;" style="width:16.6%">Peso Corporal</button>
        <button onclick="location.href='@Url.Action("Index", "ShotPutTest", new { id = Session["aID"]})';return false;" style="width:16.6%">Lanzamiento</button>
        <button onclick="location.href='@Url.Action("Index", "AntropometricTest", new { id = Session["aID"]})';return false;" style="width:16.6%">Antropométrico</button>

    </div>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

    <table class="table">
        @foreach (var group in Model.listJumpTest.GroupBy(i => i.jumpTestType))
        {

            <tr>
                <th style="font-size:24px">@group.Key.description</th>
            </tr>

            foreach (var item in group)
            {

                <tr>
                    <td>
                        @{
                            var Distancia = "Distancia: " + item.distanceResult + " m";
                            @Html.DisplayFor(m => Distancia)
                        }
                    </td>
                    <td>
                        @{
                            var Fechaa = "Fecha: " + item.date.ToShortDateString();
                            @Html.DisplayFor(m => Fechaa)
                        }
                    </td>
                </tr>

            }

        }


    </table>


    <div class="btn-group" style="margin-top:30px; margin-bottom:20px; width:100%">
        <button onclick="location.href='@Url.Action("Index", "SpeedTest", new { id = Session["aID"]})';return false;" style="width:25%">Test</button>
        <button onclick="location.href='@Url.Action("Index", "AthleteDetails", new { id = Session["aID"]})';return false;" style="width:25%">Detalles</button>
        <button onclick="location.href='@Url.Action("Index", "Foda", new { id = Session["aID"]})';return false;" style="width:25%">Foda</button>
        <button onclick="location.href='@Url.Action("Index", "AthleteAchievement", new { id = Session["aID"]})';return false;" style="width:25%">Logros</button>


    </div>

    <script>
        $(document).ready(function () {
            $.getJSON("/JumpTest/GetData", function (data) {



                Highcharts.chart('container', {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Evolución de saltabilidad'
                    },
                    subtitle: {
                        text: 'Tests de saltabilidad del atleta a lo largo del tiempo'
                    },
                    xAxis: {
                        categories: data.fechaG,
                    },
                    yAxis: {
                        title: {
                            text: 'Distancia'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: true
                        }
                    },

                    series: [{
                        name: 'Salto largo dos piernas',

                        data: data.distanciaT1,
                    }, {
                        name: 'Duplo derecho - izquierdo',

                        data: data.distanciaT2
                    }, {
                        name: 'Triple derecho - izquierdo - alterno',

                        data: data.distanciaT3
                    }, {
                        name: 'Quintuple: derecho - izquierdo - alterno - alterno mas 5 pasos de carrera',

                        data: data.distanciaT4
                    }, {
                        name: 'Decuple: alterno - alterno mas 5 pasos de carrera',

                        data: data.distanciaT5
                    }, {
                        name: 'Vertical: sj sin impulso',

                        data: data.distanciaT6
                    }, {
                        name: 'Vertical: cmj contra impulso ',

                        data: data.distanciaT7
                    }, {
                        name: 'Vertical: dj dejar caer y saltar',

                        data: data.distanciaT8
                    }, {
                        name: 'Vertical: cmj con brazos impulso con brazos',

                        data: data.distanciaT9
                    }]

                });

            });
        });



    </script>


</div>